<div class="profile-settings-outer">
  <div class="profile-card">
    <div class="profile-picture-outer">
      <div class="avatar-inner">
        <img alt="profile pick" src="{{profileAvatar}}">

        <div class="add-image-outer">
        </div>
      </div>
    </div>
    <div class="basic-data-outer">
      <div class="data-outer row">
        <div class="col-12 data">
          <mat-label class="data-label">Name</mat-label>
          <p class="data-value">{{student?.studentName}}</p>
        </div>
        <div class="col-12 data">
          <mat-label class="data-label">Email</mat-label>
          <p class="data-value">{{student?.email}}</p>
        </div>
        <div class="col-12 data">
          <mat-label class="data-label">NIC</mat-label>
          <p class="data-value">{{student?.nic}}</p>
        </div>
        <div class="col-12 data">
          <mat-label class="data-label">Date of birth</mat-label>
          <p class="data-value">{{student?.dob | date:'yyyy-MM-dd'}}</p>
        </div>
        <div class="col-12 data">
          <mat-label class="data-label">Gender</mat-label>
          <p class="data-value">{{student?.gender}}</p>
        </div>
        <div class="col-12 data">
          <mat-label class="data-label">Mobile(Whatsapp)</mat-label>
          <p class="data-value">{{student?.mobile}}</p>
        </div>
        <div class="col-12 data">
          <mat-label class="data-label">City</mat-label>
          <p class="data-value">{{student?.address}}</p>
        </div>
        <!--<div class="col-12 data button-outer">
          <button mat-raised-button class="update-basic-data-button">
            Edit
          </button>
        </div>-->
      </div>
    </div>
  </div>
  <div class="other-data-card">
    <div class="qualification-outer">
      <div class="subtitle-outer">
        <h2 class="sub-title"></h2>
      </div>

      <ul class="list-outer">
        <li *ngFor="let sq of studentQualifications">{{sq?.qualification}}</li>
<!--        <app-empty-content-page *ngIf="studentQualifications.length == 0"-->
<!--                                [message]="'Qualifications not found, add some qualifications.'"></app-empty-content-page>-->
      </ul>
    </div>
    <div class="experience-outer">
      <div class="subtitle-outer">
        <!--                <h2 class="sub-title">Experience</h2>-->
        <!-- <button mat-mini-fab class="edit-icon-button">
             <mat-icon>edit</mat-icon>
         </button>-->
      </div>
      <div class="empty-content-outer">
<!--        <app-empty-content-page-->
<!--          [message]="'Stay in touch with us for more exciting updates'"></app-empty-content-page>-->
      </div>
      <!--<ul class="list-outer">
          <li>Passed AL in commerce stream</li>
          <li>AAT Passed Finalists</li>
          <li>Part qualified in CMA(SL)</li>
      </ul>-->
    </div>
  </div>
</div>
