.profile-settings-outer {
  padding: 20px;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.profile-card {
  height: 100%;
  border-radius: 17px;
  -webkit-box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
  -moz-box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
  box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
  min-height: 500px;
}

.other-data-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.subtitle-outer {
  display: flex;
  justify-content: space-between;

}

.sub-title {
  color: #4A0A0B;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.list-outer {
  li:nth-child(1) {
    margin-top: 15px;
  }
}

.edit-icon-button {
  background-color: #d6d6d6;
  color: #4A0A0B;
  width: 30px;
  height: 30px;
  outline: none;

  mat-icon {
    font-size: 18px;
    height: 30px;
    width: 30px;
  }
}


.avatar-inner {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    width: 140px;
    height: 140px;
    border: 1px solid #d6d6d6;
    border-radius: 100%;
  }

}

.add-image-outer {
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.data-outer {
  margin-top: 5px;
  padding: 10px;
}

.data {
  margin-top: 5px;
}

.data-label {
  cursor: default;
  color: #4A0A0B;
  font-weight: 500;
}

.data-value {
  outline: none;
  border: none;
  transition: border-bottom-color 0.3s ease;
  width: fit-content;
  cursor: pointer;
}

.button-outer {
  display: flex;
  justify-content: right;
}

.update-basic-data-button {
  background-color: #FCA130;
  border-radius: 100px;
  padding: 0 20px;
  color: white;
  outline: none;
}

.qualification-outer {
  padding: 10px 20px;
  border-radius: 17px;
  -webkit-box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
  -moz-box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
  box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
}

.experience-outer {
  height: 100%;
  padding: 10px 20px;
  border-radius: 17px;
  -webkit-box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
  -moz-box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
  box-shadow: 2px 1px 3px 3px rgba(214, 214, 214, 0.75);
}

.empty-content-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (max-width: 950px) {
  .profile-settings-outer {
    grid-template-columns: 1fr;
  }
}
