<div class="main-outer">
  <div class="outer">
    <div class="inner">
      <div class="inner-left">
        <div class="shadow"></div>
      </div>
      <div class="inner-right">
        <div class="login-element-outer">
          <h1 class="login-text">Forget Password?</h1>
          <p class="login-para">
            Lets reset your password attached with FixFinder
          </p>
          <br><br>
          <form [formGroup]="form" (ngSubmit)="forgetPasswordSendVerification()">
            <div class="data-outer">
              <input formControlName="email" type="email" placeholder="Enter your email" autocomplete="off">
            </div>
            <br>
            <div class="login-button-outer">
              <button mat-raised-button type="submit" [disabled]="form.invalid">Send code</button>
            </div>
            <div class="sign-up-outer">
              <h1 class="sign-up" >Already have an account? <span routerLink="/security/login">Login.</span></h1>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
