<div class="main-outer">
  <div class="outer">
    <div class="header">
      <div class="header-text">Personal Details</div>
    </div>
    <div class="contain">
      <div class="data-inner">
        <p class="text-q">Email</p>
        <p class="text-a">{{ userData?.email }}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Name</p>
        <p class="text-a">{{ userData?.name }}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Mobile</p>
        <p class="text-a">{{ userData?.mobile }}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Address</p>
        <p class="text-a">{{ userData?.address }}</p>
      </div>
    </div>
    <hr/>
    <div class="header">
      <div class="header-text">User Details</div>
    </div>
    <div class="contain">
      <div class="data-inner">
        <p class="text-q">NIC</p>
        <p class="text-a">{{ data?.nic }}</p>
      </div>
    </div>
    <div class="row">
      <div class="column col-12">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Skills</mat-label>
          <mat-chip-grid #reactiveChipGrid aria-label="Enter Skills" [formControl]="skillFormControl">
            <mat-chip-row *ngFor="let keyword of reactiveKeywords(); trackBy: trackByKeyword"
                          (removed)="removeReactiveKeyword(keyword)">
              {{ keyword }}
              <button matChipRemove [attr.aria-label]="'Remove ' + keyword">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            placeholder="Add skill..."
            [matChipInputFor]="reactiveChipGrid"
            (matChipInputTokenEnd)="addReactiveKeyword($event)"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
