<div class="main-header-top-bar-outer">
  <div class="row outer-row">
    <div class="contact-outer col-12 col-lg-auto">
      <div class="contact email">
        <mat-icon>mail_outline</mat-icon>
        <h4>Kavinduhasintha9&#64;gmail.com</h4>
      </div>
      <div class="verticle-line"></div>
      <div class="contact phone">
        <mat-icon>phone_iphone</mat-icon>
        <h4>+(94) 71 485 6728</h4>
      </div>
    </div>
    <div class="special col-12 col-lg">
      <mat-icon>campaign</mat-icon>
      <h4>Free shipping on all orders over $99!</h4>
    </div>
  </div>
</div>
