<div class="main-outer">
  <div class="outer">
    <div class="developer-details">
      <div class="left">
        <div class="profile-photo" [ngStyle]="{'background-image': 'url(' + avatar + ')'}">
        </div>
        <div class="address-outer">
          <!--          <div class="name">{{user?.firstName}} {{user?.lastName}}</div>-->
          <div class="name">Kavindu Hashintha</div>
          <div class="position">Trades Person (Mason, Plumber)</div>
          <!--<div class="verified-outer">
            <button>Verified</button>
          </div>-->
          <div class="unverified-outer">
            <button>Unverified</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
