
<div class="main-outer">
  <div class="outer">
    <div class="inner">
      <div class="inner-left">
        <div class="shadow"></div>
      </div>
      <div class="inner-right">
        <div class="login-element-outer">
          <h1 class="login-text">Sign up your account</h1>
          <p class="login-para">
            Embark on Your Journey, Register with FixFinder
          </p>
          <form [formGroup]="userForm">
            <div class="data-outer" id="firstName">
              <input formControlName="firstName" type="text" placeholder="First Name">
            </div>
            <br>
            <div class="data-outer" id="lastName">
              <input formControlName="lastName" type="text" placeholder="Last Name">
            </div>
            <br>
            <div class="data-outer">
              <input autocomplete="off" formControlName="email"  type="email" placeholder="User email">
            </div>
            <br>
            <div class="data-outer">
              <input autocomplete="off" formControlName="password" placeholder="password"  type="{{passwordState?'password':'text'}}">
              <div class="icon-outer" (click)="passwordState=!passwordState">
                <mat-icon>
                  {{passwordState?'visibility_off':'visibility'}}
                </mat-icon>
              </div>
            </div>
            <br>
            <div class="data-outer">
              <input autocomplete="off" formControlName="confirmPassword" placeholder="Confirm password"  type="{{passwordState?'password':'text'}}">
              <div class="icon-outer" (click)="passwordState=!passwordState">
                <mat-icon>
                  {{passwordState?'visibility_off':'visibility'}}
                </mat-icon>
              </div>
            </div>
            <br>
            <div class="login-button-outer">
              <button mat-raised-button  type="button" [disabled]="userForm.invalid" (click)="signup()">Create Account</button>
            </div>
            <div class="sign-up-outer">
              <h1 class="sign-up" >Already have an account? <span routerLink="/security/login">Login.</span></h1>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
