<div class="outer container">
  <h2 class="heading">Create Your Tradesperson Account Here</h2>
  <p class="message">
    At FixFinder, we value each tradesperson's journey of professional growth...
  </p>
  <hr>

  <form [formGroup]="personalInfoForm" #fPersonal="ngForm">
    <h1 class="title">Personal Information</h1>
    <div class="row">
      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>NIC</mat-label>
          <input formControlName="nic" matInput type="text">
        </mat-form-field>
      </div>

      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Gender (Optional)</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="FEMALE">Female</mat-option>
            <mat-option value="RATHER_NOT_SAY">Rather Not Say</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Mobile</mat-label>
          <input placeholder="+94 123456789" formControlName="mobile" matInput type="tel">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Longitude</mat-label>
          <input formControlName="longitude" matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Latitude</mat-label>
          <input formControlName="latitude" matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Country</mat-label>
          <input formControlName="country" matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-12 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Address</mat-label>
          <textarea formControlName="address" matInput rows="3"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>

  <form [formGroup]="professionalInfoForm" #fProfessional="ngForm">
    <h1 class="title">Professional Details</h1>
    <div class="row">
      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Trade/Profession</mat-label>
          <mat-select formControlName="profession">
            <mat-option *ngFor="let profession of professions" [value]="profession.value">
              {{ profession.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Years of Experience</mat-label>
          <input type="number" matInput formControlName="experience">
        </mat-form-field>
      </div>

      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Hourly Rate</mat-label>
          <input type="text" matInput formControlName="hourlyRate">
        </mat-form-field>
      </div>

      <div class="col-12 col-md-3 column">
        <mat-form-field appearance="outline" class="example-full-width input-size">
          <mat-label>Available Days</mat-label>
          <mat-select formControlName="availableDays" multiple>
            <mat-option *ngFor="let day of daysOfWeek" [value]="day.value">
              {{ day.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="button-outer">
    <button mat-raised-button class="create-acc-button"
            [disabled]="personalInfoForm.invalid || professionalInfoForm.invalid"
            (click)="tradesPersonRegistrationSubmit(fPersonal,fProfessional)">
      Create Account
    </button>
  </div>
</div>
