<div class="my-jobs-outer">
  <div class="jobs-overview">
    <h2 class="title">Overview</h2>
    <div class="row counter-context">
      <div class="col-12 col-sm-4 counter-wrapper">
        <div class="counter-inner" style="border-left: 5px solid #95a5a6">
          <div class="top-data">
            <h3 class="header-text-users">Job Vacancies</h3>
          </div>
          <div class="middle-data">
            <h1 class="title-text-users">10</h1>
          </div>
          <div class="bottom-data">
            <div class="bottom-data-outer">
              <span>Verified : 15</span>
            </div>
            <div class="bottom-data-outer">
              <span>Pending : 5</span>
            </div>
            <div class="bottom-data-outer">
              <span>Completed :10</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-container">
    <div class="job-list-filter job-container-item">
      <div class="search-container row">
        <div class="search-text col-10 col-sm-6 col-lg-7">
          <mat-form-field appearance="outline" class="example-full-width input-size">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search">
          </mat-form-field>
        </div>
        <div class="filler col-auto col-sm-2 col-lg-3">
        </div>
        <div class="filter-dropdown col-2 col-sm-4 col-lg-2">
          <mat-form-field appearance="outline" class="example-dropdown input-size">
            <mat-label>Filter</mat-label>
            <mat-select>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="job-list-outer job-container-item">
      <div class="job-card" *ngFor="let job of jobList">
        <div class="job-img">
          <img [src]="job.imageUrl || 'assets/job-placeholder.jpg'" alt="Job Image">
        </div>
        <div class="job-content">
          <div class="job-header">
            <h3 class="job-title">{{ job.title }}</h3>
            <p class="job-price">LKR. {{ job.price | number:'1.2-2' }}</p>
          </div>
          <p class="job-tags">{{ job.tags }}</p>
          <p class="job-description">
            {{ job.description }}
          </p>
         <!-- <div class="job-action">
            <button class="view-btn" (click)="viewJobDetails(job.id)">View Detailed Job</button>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
