<div class="user-type-selection-outer">
  <div class="card-outer">
    <div class="card-inner">
      <h1 class="main-text">
        Join as a client or Trades person
      </h1>
      <div class="cards-outer">
        <form  [formGroup]="userTypeForm" >
        <div class="card">
          <div class="icon"></div>
          <h2>I'm a client, hiring for a trades person.</h2>
          <mat-radio-button formControlName="isClient" class="checkbox" value='CLIENT'></mat-radio-button>
        </div>
        <div class="card">
          <div class="icon"></div>
          <h2>I'm a trades person, looking for work.</h2>
          <mat-radio-button formControlName="isTradesperson" class="checkbox" value='TRADESPERSON'></mat-radio-button>
        </div>
        </form>
        <div class="login-button-outer">
          <button mat-raised-button  type="button" [disabled]="userTypeForm.invalid" routerLink="/security/signup">Create Account</button>
        </div>
        <div class="sign-up-outer">
          <h1 class="sign-up" >Already have an account? <span routerLink="/security/login">Login.</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
