.user-type-selection-outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-inner {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 360px;
}

.main-text {
  font-family: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.cards-outer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
}

.checkbox {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #555;
}
