<div class="hire-trades-person-outer">

  <h2 class="schedule-title">Hire TradesPerson</h2>

  <div class="filter-bar">
    <p>* Try finding job listings by selecting trades category</p>

    <form [formGroup]="filterForm">
      <div class="row form-outer">
        <div class="col-6 col-md-2 column">
          <mat-form-field appearance="outline" class="example-full-width input-size">
            <mat-label>Trade Category</mat-label>
            <mat-select formControlName="category" (selectionChange)="loadAllListings()">
              <mat-option *ngFor="let category of categories"
                          [value]="category?.categoryTitle">{{ category?.categoryTitle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--<div class="col-6 col-md-2 column">
          <mat-form-field appearance="outline" class="example-full-width input-size">
            <mat-label>Min Hourly Rate</mat-label>
            <input formControlName="minHourRate" matInput type="number">
          </mat-form-field>
        </div>
        <div class="col-6 col-md-2 column">
          <mat-form-field appearance="outline" class="example-full-width input-size">
            <mat-label>Max Hourly Rate</mat-label>
            <input formControlName="maxHourRate" matInput type="number">
          </mat-form-field>
        </div>-->
      </div>
    </form>
  </div>

  <div class="noticeboard">
    <div class="notice-card" *ngFor="let tradePerson of tradespeople">
      <div class="img">
        <img [src]="tradePerson.coverImage" alt="service-image">
      </div>
      <div class="profile-outer">
        <div class="profile-picture">
          <img [src]="tradePerson.profileImage" alt="profile">
        </div>
        <div class="name-project-outer">
          <p class="name">{{ tradePerson.tradePersonName }}</p>
          <p class="projects">({{ tradePerson.onGoingJobs }} ongoing projects)<br>({{ tradePerson.completedJobs }}
            Completed projects)</p>
        </div>
      </div>
      <div class="text">
        <p class="title">{{ tradePerson?.title | slice:0:80 }}...</p>
        <p class="rating">★ <span>{{ tradePerson.rating }}</span></p>
        <div class="card-button-outer">
          <button mat-raised-button class="read-more" (click)="routeToTradesPersonDetails(tradePerson)">View
            Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
