<div class="hire-trades-person-outer">
  <div class="filter-bar">
    <form [formGroup]="filterForm">
      <div class="row form-outer">
        <div class="col-6 col-md-2 column">
          <mat-form-field appearance="outline" class="example-full-width input-size">
            <mat-label>Trade Category</mat-label>
            <mat-select formControlName="category">
              <mat-option value="electrician">Electrician</mat-option>
              <mat-option value="plumber">Plumber</mat-option>
              <mat-option value="carpenter">Carpenter</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 col-md-2 column">
          <mat-form-field appearance="outline" class="example-full-width input-size">
            <mat-label>Min Hourly Rate</mat-label>
            <input formControlName="minHourRate" matInput type="number">
          </mat-form-field>
        </div>
        <div class="col-6 col-md-2 column">
          <mat-form-field appearance="outline" class="example-full-width input-size">
            <mat-label>Max Hourly Rate</mat-label>
            <input formControlName="maxHourRate" matInput type="number">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="noticeboard">
    <div class="notice-card" *ngFor="let tradesperson of tradespeople">
      <div class="img">
        <img [src]="tradesperson.coverImage" alt="service-image">
      </div>
      <div class="profile-outer">
        <div class="profile-picture">
          <img [src]="tradesperson.profileImage" alt="profile">
        </div>
        <div class="name-project-outer">
          <p class="name">{{ tradesperson.name }}</p>
          <p class="projects">({{ tradesperson.ongoingProjects }} ongoing projects)</p>
        </div>
      </div>
      <div class="text">
        <p class="title">{{ tradesperson.title | slice:0:80 }}...</p>
        <p class="rating">★ <span>{{ tradesperson.rating }}</span></p>
        <div class="card-button-outer">
          <button mat-raised-button class="read-more" routerLink="console/playground/trades-person/profile">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
