.main-outer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img{
    height: 80px;
  }


  .text{
    text-align: center;
  }
}
