.my-schedule-outer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
  margin: 0;
}

.calender-outer {
  width: 100%;
  height: 100%;
}

.calender-inner {
  width: 100%;
  height: 100%;
}

full-calendar {
  width: 100%;
  height: 100%;
}
